<div class="container col-md-9">
  <div class=" py-5 " *ngIf="property ">
    <h1 class="display-4 mb-0">{{ property.title }}</h1>

    <hr class="bg-dark mb-4 mt-2">
    <div class="row">
      <div class="col-md-6">
        <div *ngIf="property.pictures.length === 1">
          <div *ngFor="let picture of property.pictures; let first = first" class="w-10 my-auto">
            <img [src]="picture" *ngIf="first" alt="picture" class="w-100">
          </div>
        </div>
        <div *ngIf="property.pictures.length > 1">
          <div id="carouselExampleIndicators" class="carousel slide bg-dark" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item" *ngFor="let picture of property.pictures; let first = first"
                [ngClass]="{'active': first}">
                <img [src]="picture" class="d-block w-100" alt="picture">
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Önceki</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Sonraki</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <h3 class="font-weight-normal">FİYAT : {{ property.price }} ₺</h3>
        <p class="font-weight-light">
          {{ property.surface }} <span *ngIf="property.surface && property.rooms !== ''"> m2</span> <span
            *ngIf="property.rooms && property.rooms !== ''">, {{ property.rooms }} odalı {{ property.category }}.</span>
        </p>
        <p class="font-weight-light">{{ property.description }}</p>
        <h3 class="font-weight-normal text-success" *ngIf="!property.sold">Satılık</h3>
        <h3 class="font-weight-normal text-danger" *ngIf="property.sold">Kiralık</h3>
      </div>
    </div>