<div class="rounded shadow bg-white p-5">
  <div class="row">
    <div class="col-12 d-flex">
      <h2 class="font-weight-light"><i class="fas fa-home"></i> Mülkler</h2>
      <button class="btn btn-primary ml-auto" type="button" data-toggle="modal" data-target="#propertiesFormModal" (click)="resetForm()"><i class="fas fa-plus"></i>Mülk Ekle</button>
    </div>
  </div>
  <hr class="mt-1 mb-5 bg-light">
  <div class="row">
    <div *ngFor="let property of properties; let i = index" class="col-12 shadow sm p-4 mb-3 bg-light">
      <div class="row">
        <div class="col-3">
          <div *ngFor="let picture of property.pictures; let first = first">
            <img *ngIf="first" [src]="picture" alt="picture" class="w-100">
          </div>
        </div>
        <div class="col-9">
          <div class="d-flex">
            <h3 class="font-weight-normal">{{property.title }}</h3>
            <div class="ml-auto">
              <button class="btn btn-primary m-1" type="button" (click)="onEditProperty(property)"><i class="fas fa-edit"></i></button>
              <button class="btn btn-danger m-1" type="button" (click)="onDeleteProperty(i)"><i class="fas fa-trash-alt"></i></button>
            </div>
          </div>
          <p>
            <span *ngIf="property.surface && property.rooms !== ''"> {{ property.rooms }} m2</span>  <span *ngIf="property.rooms && property.rooms !== ''">, {{ property.rooms }} odalı  {{ property.category }}.</span>
          </p>
          <p *ngIf="property.price && property.price !== ''"> {{ property.price }}₺</p>
          <p>
            <span *ngIf="!property.sold" class="text-success">Satılık</span>
            <span *ngIf="property.sold" class="text-warning">Kiralık</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Mülk Ekle Kısmı-->
<div class="modal fade" id="propertiesFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form [formGroup]="propertiesForm" (ngSubmit)="onSubmitPropertiesForm()">
        <div class="modal-header">
          <h5 class="modal-title" id="propertiesFormModal">Mülk Ekle/Düzenle</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input type="text" placeholder="İsim" class="form-control" formControlName="title">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Kategori</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" formControlName="category">
              <option *ngFor="let ctg of categories$ | async"  [value]="ctg.name" >{{ctg.name}} </option>
             
            </select>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <input type="number" placeholder="Alan (m2)" class="form-control" formControlName="surface">
            </div>
            <div class="form-group col-6">
              <input type="number" placeholder="Oda Sayısı" class="form-control" formControlName="rooms">
            </div>
          </div>
          <div class="form-group">
            <textarea class="form-control w-100" rows="4" placeholder="Mülk Açıklaması" formControlName="description"></textarea>
          </div>
          <div class="form-group">
            <input type="text" placeholder="Fiyat" class="form-control" formControlName="price">
          </div>
          <div class="row">
            <div *ngFor="let picture of picturesAdded; let i = index" class="col-4 border border-dark rounded m-1 p-1 bg-light position-relative">
              <span class="text-danger position-absolute mr-1 deletPicture" (click)="onRemoveAddedPicture(i)">
                <i class="fas fa-times"></i>
              </span>
              <img [src]="picture" alt="picture" class="w-100">
            </div>
          </div>
          <div class="form-row">
            <div class="col-9">
              <div class="input-group mb-3">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" (change)="onUploadFile($event)">
                  <label class="custom-file-label" for="inputGroupFile01">Resim Seçiniz</label>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="spinner-border text-primary" role="status" *ngIf="pictureUploading">
                <span class="sr-only">Yükleniyor...</span>
              </div>
            </div>
          </div>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1" formControlName="sold">
            <label class="custom-control-label" for="customSwitch1">
              <span class="text-warning" *ngIf="propertiesForm.value.sold">Kiralık</span>
              <span class="text-success" *ngIf="!propertiesForm.value.sold">Satılık</span>
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal Et</button>
          <button type="button" class="btn btn-primary" type="submit" [disabled]="propertiesForm.invalid">Kaydet</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--Mülk Ekle Sonu-->

<!--Mülk Silme Kısmı-->
<div class="modal fade" id="deletePropertyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Silinsin mi ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal Et</button>
        <button type="button" class="btn btn-danger" (click)="onConfirmDeleteProperty()" >Kaldır</button>
      </div>
    </div>
  </div>
</div>
<!--Mülk Silme Sonu-->
