<div class="container">
  <h1 class="display-4 mt-5 mb-0">Giriş Yap</h1>
  <hr class="mt-2 mb5 bg-dark">
  <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
      <div class="form-gr">
        <label for="email">E-Mail</label>
        <input type="email" class="form-control" id="email" placeholder="example@example.com" formControlName="email">
      </div>
      <div class="form-gr">
        <label for="password">Şifre</label>
        <input type="password" class="form-control" id="password" placeholder="Minimum 6 karakter" formControlName="password">
      </div>
      <button class="btn btn-primary mt-3" type="submit" [disabled]="loginForm.invalid">Giriş</button>
    </form>
  </div>
</div>
